---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getUniqueTags } from "../../utils";
import Tags from "../../components/Tags.astro";
import { BLOG_CONFIG } from "../../consts";

const posts = await getCollection("blog", post => !post.data.hide);
const tags = getUniqueTags(posts);
---

<Layout>
  <section class="page-header">
    <h1>{BLOG_CONFIG.tags.title || "Tags"}</h1>
    <p>{BLOG_CONFIG.tags.description || "All the tags used in posts."}</p>
  </section>
  <Tags tags={tags} />
</Layout>

<style>
  /* Styles for Tags component are in Tags.astro and global.css */
  .page-header {
    margin-bottom: 2rem; /* Slightly less margin than blog index */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  .page-header h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.25em; 
  }

  .page-header p {
    font-size: 1.1em;
    color: var(--text-color);
    opacity: 0.9;
    margin-top: 0;
  }
</style>
