---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { generateURL } from "../utils";

const sections = (await getCollection("academic", section =>
  !section.data.hide && section.data.type === "institution"
)).sort((a, b) => a.data.order - b.data.order);
---

<Layout>
  <div class="prose">
    <ul>
      {sections.map(section => (
        <li>
          <h2><span style = "font-weight:normal"><a href={generateURL(`/academic-history/${section.id}/`)}>{section.data.title}</a></span></h2>
        </li>
      ))}
    </ul>
  </div>
</Layout>