---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="prose">
    <p>
      Hi there! I am Aktan, a third year undergraduate <a href = "https://www.ucdavis.edu/majors/computer-science-and-engineering">Computer Science & Engineering</a> student at the University of California, Davis. 
    </p>
    <p>
      At the moment, my academic interests lie in machine learning (RAG and GNNs), computer vision (3D reconstruction), and mathematical finance (options pricing and risk management).
    </p>
    <p>
      To check out the courses I have taken so far, head over to my <a href = "/academic-history">academic history</a> page. (it is being updated)
    </p>
    <p>
      Outside of acadmics, I enjoy hiking, collecting water bottles, playing Catan, and Durak. If you want to see more about any of these topics, head over to my <a href = "/blog">blog</a> page. 
    </p>
    <p>
      I also like White Monsters.
    </p>
    <p>
      To see my resume, click <a href = "/resume">here</a>.
    </p>
    <p>
      To contact me, click the email logo on the top right corner. 
    </p>
    <p>
      To find out about my favorite media, head over to my <a href = "/favorites">favorites</a> page.
    </p>
    <p>
      Here is a picture of me on the Mission Peak Hike in Fremont, CA.
      <img src="/personal-picture.png" alt="Mission Peak" />
    </p>
  </div>
</Layout>
