---
---

<head>
    <meta http-equiv="refresh" content="0; url=/Azat_Aktan_Resume.pdf" />
  </head>
  <body>
    <p>If you are not redirected automatically, follow this <a href="/Azat_Aktan_Resume.pdf">link to the resume</a>.</p>
  </body>